
:javascript
  function getData(state) {
    data = 'Action has been sent.';
    if (state != 'success')
      data = 'Something went wrong.';
    return data;
  }

  function getState(state) {
    if (state != 'success')
      state = 'danger'
    return state
  }

  toggleMessage('#forward_message', getState('#{@state}'), getData('#{@state}'))

